.About {
    &_dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_form {
            width: 90%;
            margin-top: 20px;
        }
        @media screen and (max-width: 768px) {
            &_form {
                width: 100%;
            }
        }
    }
}