.banner {
    height: 223px;
    top: 171px;
    mix-blend-mode: darken;
    background: #000000;
    border-radius: 25px;
    object-fit: cover;
    overflow: hidden;
    
    &_title {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 48px;
    }
    &_img {
        object-position: -50px -300px;
        filter: brightness(80%);
    }
    @media screen and (max-width: 768px) {
        height: 111px;
        border-radius: 10px;
        &_title {
            font-size: 24px;
        }
    }
}