.main {
    margin: 50px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    .nav {
        &_list {
            
            list-style-type : none;
            display: flex;
            gap: 40px;
            &_link {
                text-decoration: none;
                color: #FF6060;
            }
        }
    }
}