.main {
    margin: 50px 100px;
    @media screen and (max-width: 768px) {
        margin: unset;
        margin-top: 50px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    .nav {
        &_list {
            list-style-type : none;
            display: flex;
            gap: 40px;
            &_link {
                text-decoration: none;
                color: #FF6060;
                &:hover {
                    text-decoration: underline;
                }
            }
            
        }
    }
}