.text {
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    background: #FF6060;
    border-radius: 10px;
    width: 115px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}